#para1{ 
  color: aqua;
  background-color: black;
  border: 15px solid red;
border-top-right-radius: 10px ;
border-top-left-radius: 10px;
border-bottom: 0px;
}
#para2{
  color: #ff0000;
  background-color: black;
  border: 15px solid red;
border-top-right-radius: 10px ;
border-top-left-radius: 10px;
border-bottom: 0px;
}
#para3{color: chartreuse;
  background-color:beige;
  border: 5px solid red;
  padding: 50px;
  margin: 60px;
}
